version: '3.8'

services:
  nginx-server:
    build: ./nginx
    ports:
      - "8080:8080"
      - "8081:8081"
    networks:
      - f5-network


  tester:
    build: ./tester
    depends_on:
      - nginx-server
    networks:
      - f5-network


networks:
  f5-network:
    driver: bridge